Microsoft.Flow/flows/29390011-51b2-40a6-b17c-b439012d4263/definition.json
{"name":"786e4d90-78a0-4996-b2c7-d0bc3a4210e9","id":"/providers/Microsoft.Flow/flows/786e4d90-78a0-4996-b2c7-d0bc3a4210e9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"GEO MAPS Location","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"GoogleDlpViolation","flowclientsuspensiontime":"2022-03-21T22:59:32.2957151Z","creator":{"id":"a8ad1889-08d5-42d3-a96d-f5f2e29a325d","type":"User","tenantId":"0b9d902d-e3c1-48f1-8979-365832b339dd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-21T22:59:32.3112929Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e5f9ac4f-12fe-4eba-9136-e8fd3761e4b1"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getlocationbypoint_PointLatitude":{"type":"number","format":"double","description":"The latitude coordinate you want to reverse geocode. Example: 47.64054","x-ms-powerflows-param-ispartial":false},"Getlocationbypoint_PointLongitude":{"type":"number","format":"double","description":"The longitude coordinate you want to reverse geocode. Example: -122.12934","x-ms-powerflows-param-ispartial":false}},"required":["Getlocationbypoint_PointLatitude","Getlocationbypoint_PointLongitude"]}}}},"actions":{"Get_location_by_point":{"runAfter":{},"metadata":{"operationMetadataId":"1737e7c2-d79b-4910-a327-c1bae87134b4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_bingmaps","connectionName":"shared_bingmaps_1","operationId":"GetLocationByPoint"},"parameters":{"latitude":"@triggerBody()['Getlocationbypoint_PointLatitude']","longitude":"@triggerBody()['Getlocationbypoint_PointLongitude']","includeNeighborhood":true,"include":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Insert_row_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"7b24bfb6-08be-4146-8a44-b337915bda89"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"locationaddress":"@outputs('Get_location_by_point')?['body/address/formattedAddress']","locationpostcode":"@outputs('Get_location_by_point')?['body/address/postalCode']"},"schema":{"type":"object","properties":{"locationaddress":{"title":"LocationAddress","x-ms-dynamically-added":true,"type":"string"},"locationpostcode":{"title":"LocationPostCode","x-ms-dynamically-added":true,"type":"string"}}}}},"Insert_row_(V2)":{"runAfter":{"Get_location_by_point":["Succeeded"]},"metadata":{"operationMetadataId":"2b4fe7a2-9422-42b3-b9d2-49e2eee03d54"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"PostItem_V2"},"parameters":{"server":"default","database":"default","table":"[dbo].[Location]","item/lat":"@triggerBody()['Getlocationbypoint_PointLatitude']","item/lon":"@triggerBody()['Getlocationbypoint_PointLongitude']","item/address":"@outputs('Get_location_by_point')?['body/address/formattedAddress']","item/postalcode":"@outputs('Get_location_by_point')?['body/address/postalCode']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_bingmaps_1":{"connectionName":"shared-bingmaps-47fc40ec-a8a0-4564-9c49-f9f96214670b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_bingmaps","tier":"NotSpecified"},"shared_sql":{"connectionName":"02b0aae32d974f72a58bf85064294501","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}